* {
	margin:  0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 0.032rem;
	user-select: none;
	box-sizing: border-box;
}

body {
	display: grid;
	width:  100vw;
	height: 100vh;
	overflow: hidden;
}

#container {
	display: grid;
	width:  100vw;
	height: 100vh;
	align-content: center;
}

#title {
	align-self: center;
	transform: scale(3);
	opacity: 0.32;
}

#glcanvas {
	width:  100vw;
	height: 100vh;
}