* {
	margin:  0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 0.04rem;
	user-select: none;
	box-sizing: border-box;
}

body {
	display: grid;
	width:  100vw;
	height: 100vh;
	overflow: hidden;
}

#container {
	display: grid;
	width:  100vw;
	height: 100vh;
	align-content: center;
}

#title {
	justify-self: center;
	margin-top: 8rem;
	grid-row: 1;
	grid-column: 1;
	font-size: 5rem;
}

#glcanvas {
	width:  100vw;
	height: 100vh;
	grid-row: 1;
	grid-column: 1;
}